doctype html
html(lang="en")
    head
        title Item List
    body
        header
            h1 Hello #{name}
    block content
        form(action='/list' method='POST')
            label Please enter your name
            input(type='text' name='username')
            button(type='submit') Submit